<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>Ajouter Catégorie</h:head>
<body>
	<h:form id="form">
	<h:panelGrid columns="2">
	
	<h:outputText value="Nom" />
	<h:inputText value="#{gestionCategorie.nom}" />
		
	<h:commandButton action="#{gestionCategorie.ajouterCategorie()}" value="Ajouter une catégorie" />
		
	</h:panelGrid>
	</h:form>
</body>
</html>
