<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>Ajouter Article</h:head>
<body>
	<h:form id="form">
	<h:panelGrid columns="2">
	
	<h:outputText value="Nom" />
	<h:inputText value="#{gestionArticle.nom}" />
	
	<h:outputText value="Prix" />
	<h:inputText value="#{gestionArticle.prix}" />

	<h:outputText value="Image" />
	<h:inputText value="#{gestionArticle.image}" />

	<h:selectOneMenu value="#{gestionArticle.selectedCategorieId}" >
	<f:selectItems value="#{gestionArticle.categories}" 
		var="categorie" itemValue="#{categorie.idCat}" 
		itemLabel="#{categorie}" />
	</h:selectOneMenu>
	
	<br/>
	<h:commandButton action="#{gestionArticle.ajouterArticle()}" value="Ajouter un article" />
		
	</h:panelGrid>
	</h:form>
</body>
</html>
